<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> <!-- imports bootstrap -->
    <link rel="stylesheet" type="text/css" href="../styles/styles.css"> <!-- imports styles.css stylesheet -->
    <title>Final Project</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">J A Z Z  H U B</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/explore">Explore</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/store" tabindex="-1" aria-disabled="true">Store</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/venues" tabindex="-1" aria-disabled="true">Jazz Venues Near You</a>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>
    </nav>
    <h1 id = "heading">Get your Jazz Things</h1>

    <iframe id = "maps" src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d50447.53699689497!2d-122.41634369741769!3d37.79071792984295!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1sjazz+shops!5e0!3m2!1sen!2sus!4v1564079984652!5m2!1sen!2sus" width="1200" height="750" frameborder="0" style="border:0" allowfullscreen></iframe>
